span {
  font-weight: bold;
}
.all {
  height: 100vh;

}
#quote-text {
  position: relative;
  background-color: rgb(238, 221, 224);
  padding: 30px;
  width: 500px;
  border-radius: 20px;
  top: 25%;
}
#text {
  font-size: 15px;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}
#author {
  text-align: right;
}
.butt {
  text-align: right;
  margin-top:80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.twitter{
    margin-right:30px ;
}
